<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Delanie Lowe</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/JavaScript" src="assets/js/script.js"></script>
</head>
<body>
	<div class="topbar">
		<div class="navbar">
			<ul>
				<li class="navbar-item"><a ng-click="gotoElement('menu-home')">Home</a></li>
				<li class="navbar-item"><a ng-click="gotoElement('menu-gallery')">Gallery</a></li>
				<li class="navbar-item"><a ng-click="gotoElement('menu-contact')">Contact</a></li>
			</ul>
		</div>
	</div>
	
	<div id="landing-container" class="vignette" id="menu-home">
		<!-- <div id="filter"></div> -->
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
</style>
<g id="Martini_o">
	<path class="st0" d="M159.5,498c9.4,15.6,25.8,37.9,33,55.1c18.5,43.8,19.3,102.2,20.4,110.7c3.4,27.9,2.8,97.8,2.7,116
		c0,19.2-9,79.7-19.4,98.6c-7.6,13.8,11.7,22.7,34,22.9c23.8,0.2,42.3-5.8,29.7-26.3c-8.6-14-15.7-78.1-15.9-97.1
		c-0.3-39-6.2-148.4,18.5-226.6c3.6-11.4,21-39.3,29.8-54.8"/>
	<path class="st0" d="M195.3,880.5c-92.3,11.2-111.7,37.4-110,60.2c2.8,37.8,83.2,46.8,136.6,46.2c62.9-0.7,150.9-15.9,151.2-63.1
		c0.2-25-60.9-48.8-111.8-46.5"/>
	<path class="st0" d="M19.2,285.9C30.6,307.6,159.5,498,159.5,498s27.6,17.7,66.4,18.5s66.4-20,66.4-20s114.7-186.6,129.9-210.6"/>
	<path class="st0" d="M422.2,285.8c0,7.8-90.2,7.9-201.5,7.8c-111.3-0.2-201.5,0-201.5-7.8c0-7.8,90.2-5.8,201.5-5.8
		S422.2,283.2,422.2,285.8z"/>
	<path class="st0" d="M33.5,309.2c9.1,14,333.2,21,371.4,4.4"/>
	<g>
		<path class="st0" d="M347.2,285.9c-7.2-34.1,7.6-61.2,29.1-73.3s74.7-8.2,76.1,27.2c1.3,35.4-30.8,46.3-51,50.3
			c-22.8,4.5-40.7-16.6-35.8-36c4.9-19.2,30.6-40,50.6-28.5c21,12.1,18.8,25.2,16.9,32.3c-0.5,2-4.8,6-4.8,6s3.3-25.5-10.7-28.9
			c-18.6-4.4-39.7,6-35.2,24.6c2,8.1,1.8,16.1,8.1,20.7c3,2.2,21.4-4.7,32.9-10.3c18.4-9.1,17.9-29.7,11.2-41.4
			c-5.5-9.6-25.5-14.2-40.3-11.2c-14.8,3-29.5,21.4-33.2,29.3c-5.3,11.1-4.2,34.6,2,39.4"/>
		<path class="st0" d="M379.3,211.1c7.3-13,57.8-18.9,73.2-4.7c15.1,13.9,30.7,26.6,26.5,53.9c-4.2,27.4-34.7,40.3-48.7,38.9
			c-14-1.4-36.4-4.9-38.9-8.6"/>
		<path class="st0" d="M467.4,196.9c0,10.7,8,21.3,19.1,21.3s19.1-10.6,19.1-21.3s-7-19.4-18-19.4
			C476.4,177.6,467.4,186.2,467.4,196.9z"/>
		<path class="st0" d="M503.9,188.6c0,0-15.4-11.7-23.7,2c-6.6,10.9-2.6,22.6,11.4,26.9"/>
		<path class="st0" d="M480.9,178.6c9.6-6.8,30.1-2.2,33.6,9.4c3.5,11.6,1,27.7-10.6,31.7c-11.6,4-24.3,2.5-32.2-5.1
			c-8.8-8.5-3.9-21.5-3.9-21.5"/>
		<path class="st0" d="M410.9,234.1c-6.2,6.9-5.4,24.8,8.2,37.9"/>
		<path class="st0" d="M417.5,235l-24.1,14.4c0,0-1.3,8.1,0.8,9.8l31.4-17.3"/>
		<line class="st0" x1="329.3" y1="285.7" x2="345.4" y2="276.6"/>
		<path class="st0" d="M473.1,215.8l-13.8,7.6c0,0-2.9-0.8-6.9-7.3l14.9-8.4"/>
		<line class="st0" x1="341.8" y1="288.2" x2="346.9" y2="285.3"/>
	</g>
</g>
<g id="Coupe_o">
	<path class="st0" d="M1378.3,316.5c-5.8,13-9.7,26.8-9.7,53.6c-0.1,34.3-2.2,87.4,27,130.7s94,70.2,130,76.3
		c22.1,3.8,64.6,4.8,94.5,0c56.7-9.1,94.8-33.8,122.7-64.2c14.8-16.1,33.5-57,36.1-92c1.4-19.3,1.3-55.2-5.5-95.6"/>
	<path class="st0" d="M1773.3,325.4c0,4.4-87.6-0.6-197-0.6c-101.3,0-197.9-3.8-198.1-8.2c-0.1-4.4,88.7,0,198.1,0
		C1685.7,316.5,1773.3,321,1773.3,325.4z"/>
	<path class="st0" d="M1368.7,362.8c23.3,19.8,390.7,14.1,409,0"/>
	<path class="st0" d="M1525.6,577.2c13.9,9.2,21.4,40.7,24.9,58c7.5,36.6,8.4,103.4,8.5,127c0.1,25,4.8,118.8-23.6,133.4
		c-16.7,8.6,13,24,39.3,24c28.1,0,59-13.3,33.3-25.8c-18.1-8.8-17.6-109.8-17.9-134.4c-0.8-66.4,0.7-175.7,30-182.2"/>
	<path class="st0" d="M1531.1,899.1c-13.3,4.8-111.3,7.7-111,37.5c0.3,29.8,93,46,156.1,44.6s158.9-12.6,159.3-45
		c0.3-32.4-106.4-32-122.8-39.7"/>
	<path class="st0" d="M1909.1,335.7l-225.8,70.8c-20.8-43.8,16.3-109.2,81-128.9C1829,257.9,1902.5,290.4,1909.1,335.7z"/>
	<path class="st0" d="M1909.1,335.7c17.5-64-95.8-87.8-135.8-79c-52.8,11.7-136,67.5-90,149.8"/>
</g>
<g id="High_Ball_o">
	<path class="st0" d="M751.5,238.2l10.2,712c0.3,3.6,0.5,10.6,6,13.2c15.6,7.2,51.8,22,112.3,24.8c38.7,1.8,104.9-15.2,123.4-26
		c6.2-3.6,9.3-7,10.3-10.6l2.1-713.4"/>
	<path class="st0" d="M1015.8,238.2c0,12.8-59.2,16.2-134.2,16.2s-130.1-3.5-130.1-16.2c0-12.8,61.2-21,128.6-21
		C955,217.2,1015.8,225.5,1015.8,238.2z"/>
	<path class="st0" d="M1008.1,235.8c0,8.4-35.9,17.1-110.8,17.1s-130.1-3.5-130.1-16.2s58.6-17.2,125.9-17.2
		C967.9,219.4,1008.1,230.8,1008.1,235.8z"/>
	<path class="st0" d="M760.9,891.3c9,22.5,76.3,35.3,122.8,35.3s127.5-23.1,130.2-39"/>
	<path class="st0" d="M751.5,266.8c5.7,12.1,77.1,18.2,123.6,18.2c60.8,0,137.8-4.3,140.6-20.1"/>
	<path class="st0" d="M1014.8,457.9c-42.6-7.1-82.8-27.2-113.6-56.8c-10.2-9.8-19.6-21.1-22.9-34.6c-1.2-5.3-1.5-10.7-1.2-16.1
		c0.9-14.6,6-29,14.7-40.9c5.7-7.8,13-14.8,16.8-23.7c2.7-6.4,3.5-13.4,5.7-20.1c3.2-9.6,9.3-18.1,16.9-24.9
		c14.9-13.5,35.7-20.8,56.1-19.6c13.2,0.8,25.9,4.9,38.3,9.4c2.7,1,5.6,2.1,7.5,4.2c1.8,1.9,2.7,4.6,4.6,6.4
		c2.2,2.1,5.5,2.7,8.3,4.1c7.1,3.6,10.3,11.9,11.1,19.7c1.2,11.3-1.3,23.1-8.2,32.3c-6.9,9.1-18.3,15.2-30,14.8
		c-8.4-0.3-17.4-3.8-24.9-0.1c-10.1,4.9-10.3,19.1-6.1,29.3c4.3,10.2,11.6,19.6,11.8,30.6c0.1,2.9-0.4,6,1,8.6
		c1.7,3.2,5.5,4.6,8.9,5.7c11.6,3.9,23.2,7.7,34.7,11.6c3.2,1.1,6.6,2.2,10,1.7s6.7-3.2,6.6-6.5c16.9,0.9,34.1-6.2,45.1-18.8
		c4.3-4.9,7.7-10.5,12.7-14.6c4.3-3.6,10-6.1,12.5-11.1c4-7.8-1.5-17.3,0.3-25.9c0.9-4.2,3.6-8.1,3.9-12.4c0.2-2.9-0.7-5.7-1.6-8.5
		c-3.5-10.7-7-21.4-10.5-32c-3.6-11-7.3-22.3-14.5-31.6c-4.4-5.7-9.9-10.5-15.6-14.9c-24.2-18.7-52.6-32.2-82.7-39.1
		c-2.8-0.6-5.6-1.2-8.5-1c-3.3,0.3-6.4,1.7-9.5,2.6c-9.6,2.8-19.9,1.4-29.9,1.6c-16,0.4-23.2,5.6-38,11.6
		c-9.2,3.7-26.2,5.4-35.1,9.7c-8.9,4.3-16.8,11.8-25.4,16.7s-17.9,9.3-25.3,15.8c-2.1,1.8-4.2,3.8-5.7,6.1c-1.6,2.5-2.5,5.3-3.7,7.9
		c-1.7,4-4.1,7.8-6.5,11.4c-8,11.7-17.6,22.3-24.4,34.7c-6.8,12.3-10.7,27.2-5.9,40.4c2.2,6.2,6.3,12.4,4.9,18.8
		c-0.7,3.3-2.9,6.7-1.7,9.9c0.7,2,2.6,3.4,3.8,5.1c5.4,8.1-5.1,18.1-4,27.7c0.1,1.3,0.5,2.7,1.2,3.9c1.1,2.1,2.9,3.7,4.7,5.3
		c11.3,10.5,19.8,23.8,24.7,38.2c1.6,4.6,2.8,9.5,5.7,13.5c2.7,3.8,6.7,6.4,10.6,9c27.8,18.6,56,36.5,84.2,54.4
		c5.8,3.7,11.5,7.3,17.3,11c11.6,7.4,23.2,14.8,35.5,21.1c11.3,5.8,23.1,10.7,35.3,14.6"/>
	<path class="st0" d="M755.8,452.6c3.5,4.8,9.7,7.7,15.7,7.1c3.2-0.3,6.3-1.4,9.5-0.9c6.2,1,9.6,7.7,15,10.8
		c5,2.8,11.3,2.2,16.6,4.3c15.4,6.2,15.2,31,30.9,36.5c4.5,1.6,9.5,1.2,13.9,2.9c10,3.9,13.4,17.1,23.3,21.3c11.2,4.7,25.9-4,35.8,3
		c3.2,2.3,5.1,5.8,7.6,8.8c14.3,16.7,42.9,11.1,61.5,23.2c3.3,2.2,6.3,4.9,9.9,6.7c5.9,2.9,13.1,3,19.1,0.2"/>
	<path class="st0" d="M756.3,633.3c2.6,14.2,22,19.9,26.9,33.5c0.9,2.6,1.3,5.4,2.7,7.8c5.4,9,20.2,5.7,28.7,12
		c4.6,3.5,6.8,9.5,11.6,12.7c3.7,2.5,8.4,2.9,12.9,3c15.2,0.2,31.5-2.9,44.9,4c4.3,2.2,8.2,5.5,13,6.7c4,1,8.2,0.5,12.3,0
		c9.1-1.2,18.2-2.4,27.2-3.5c8.3-1.1,16.7-2.2,25-1c4.3,0.6,8.6,1.7,12.9,1.8c14.2,0.2,35.5-4.8,39.9-12.6c-2.4,2.8-6,1.1-9.8,0.5
		c-3.7-0.6-7.3-2.6-11.1-2.3c-3.8,0.3-7.5,2.8-11.1,1.7c-3.5-1.1-5.1-5.1-8-7.3c-5.1-3.7-12.2-0.9-18.6-0.5
		c-11.9,0.9-22.4-7-31.4-14.6c-9-7.6-18.8-16-30.7-16.4c-6-0.2-11.9,1.6-17.9,1.9c-19.1,0.9-35.8-14.7-41.3-32.5
		c-1.7-5.3-2.7-11.3-7-15c-2.4-2.1-5.5-3.2-8.6-4.2c-10.4-3.2-21.2-5.1-32.1-5.4c-1.9-0.1-4-0.1-5.7-0.9c-1.6-0.8-2.8-2.2-3.9-3.6
		c-6.4-7.8-12.9-15.7-19.3-23.5"/>
	<path class="st0" d="M758.5,769.7c10.3,2.9,18.3,11.3,22.5,20.9c1.6,3.7,2.8,7.6,5.6,10.5c9.8,9.9,30.4-0.8,39.9,9.4
		c2.5,2.7,3.7,6.5,6.6,8.9c4.6,3.9,11.5,2.8,17.6,3.2c14.8,1,27.1,12,41.8,13.8c5.8,0.7,11.8-0.1,17.6,0.9c12,1.9,23.9,11,35.2,6.4
		c3.5-1.5,6.4-4.2,10.1-5.5c3.6-1.3,15-3.1,16.1,0.5"/>
	<path class="st0" d="M759.9,826.2c11.5,3.4,15.2,15.2,25.2,21.8c7.9,5.2,18.1,5.8,26.6,10.1c4.3,2.2,8.1,5.4,12.7,7
		c4.8,1.7,10.1,1.7,15.2,1.6c13.9-0.3,28-0.6,41.3-4.4c9.5-2.7,19.1-7.2,28.9-5.6c3.5,0.6,6.8,1.9,10.3,2.1
		c7.5,0.4,14.1-4.6,21.2-6.8c5.4-1.7,11.3-1.8,16.6-3.9c10.2-3.9,16.4-13.9,25.5-19.8c9.9-6.4,23.9-7.1,30.6-16.7"/>
	<path class="st0" d="M760.9,852.7c8.9,3.6,10,11.8,15.3,19.6c9.9,14.6,26.8,24.5,44.7,26.1c7,0.7,14.3,0.1,21,2.3
		c4,1.3,7.6,3.5,11.6,4.5c3.4,0.9,6.9,0.9,10.4,1c15.8,0.2,31.5,0.4,47.3,0.6c3.1,0,6.2,0.1,9.2,0.9c2.3,0.6,4.5,1.7,6.9,2.1
		c8.5,1.5,15.8-5.2,22.7-10.1c6.3-4.4,13.3-7.8,20.8-9.8c2.9-0.8,6-1.4,8.4-3.1c3.4-2.3,5.1-6.3,7.1-9.8
		c6.6-11.7,16.8-19.5,27.6-27.7"/>
</g>
</svg>
		<img id="cocktails" src="cocktails.svg">
		<div id="landing-text">
			<h1>Delanie Lowe</h1>
			<h2>Communications Designer</h2>
		</div>
	</div>

	<div class="overlay">
		<div class="overlay-view">
			<div class="pic-container">
				<img class="display" src="">
				<div class ="video-display"></div>
			</div>
			<div class="pic-info">
			</div>
		</div>
	</div>
	
	<div class="my-container" id="menu-gallery">
		<div class="gallery">
			<h2>UC Botanical Garden</h2>
			<p>The UC Botanical Garden is a living museum nestled in the Berkeley Hills. I am the Marketing and Communications Assistant.</p>
			<div class="gallery-grid">
				<ul>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/Student Membership Poppy.jpg" alt="Facebook post and print flyers encouraging UC Berkeley students to purchase a UC Botanical Garden student membership." >
							<div class="gallery-item-alt">
							<b>TEST</b>
							</div>
						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/UCBG print ads.png" alt="">
							<div class="gallery-item-alt">
							Two examples of print advertisement for outside publications. The left was printed in the Cal Alumni Association newsletter. The advert highlights Garden rentals because the target audience is post-grad adults and older. The design focuses on the natural beauty of the Redwood Grove with minimal, light text balanced with the light of the photo.<br>
							The right advert was printed in Chinook Book, a local coupon book, so it focuses on opportunities to buy plants at the Garden. The photo was chosen to highlight the diversity of what the Garden offers, as well as an inviting place to visit.<br><br>
							<i>Photoshop, InDesign, Illustrator</i>
							</div>

						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Social Media</div>
							</div>
							<img src="assets/img/Summer Concerts.jpg" alt="">
							<div class="gallery-item-alt">
							Summer Concert series has accompanying Facebook events to attract outside of normal Garden audienced. This was an accompanying Facebook post enouraging students to purchase a student membership for cheaper concert tickets. The style emulates the earthy and enchanting feel of attenting an outdoors concert surrounded by redwood trees.<br><br>
							<i>Photoshop, Illustrator</i>
							</div>
						</a>
					</li>
					<li>
						<a class="video">
							<div class="hover-overlay">
								<div class="hover-text">Video</div>
							</div>
							<img src="assets/img/UCBG cart.png" alt="UC Botanical Garden ad to be played on the TVs in the Student Union.">
							<div class="video-content">
								<iframe width="750" height="422" src="https://www.youtube.com/embed/p2bO4p2EYmk" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="gallery-item-alt">
							Plea video for a crowdfunding campaign to raise funds to build a discovery cart. <br><br>
							<i>Premiere, AfterEffects, Illustrator</i>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="gallery">
			<h2>Xlab</h2>
			<p>Xlab is a social science lab at UC Berkeley. I have been an Administrative and Technology Assistant since January 2014, focusing on lab branding, recruitment, and marketing.</p>
			<div class="gallery-grid">
				<ul>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/Xlab tear offs.png" alt="">
							<div class="gallery-item-alt">
							Four examples of tear-off fliers to be posted around campus for participant recruitment. All give a short, inticing description of what Xlab is and what it can offer to student participants. <br>
							The top two were early attempts to find a consistent style for Xlab where none existed previously. The bottom left was a departure from that style, using color blocks to group content. Leading to the bottom right flier, consistent with the new website and rebranding.<br><br>
							<i>Illustrator, InDesign</i>
							</div>
						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Web Design</div>
							</div>
							<img src="assets/img/xlab website.png" alt="">
							<div class="gallery-item-alt">
							Index page for Xlab's website. This website serves as a place for participants and researchers to learn more about what Xlab does and what it can offer them. Thus when designing and organizing content for the website, I had to cater to two audiences with different needs, levels of involvement, and experiences with Xlab. The content is carefully structured so a potential participant who has never heard of Xlab before and a seasoned researcher can navigate to what they need easily. <br>
							I chose the style of the website to reflect the data-driven, human-centered research Xlab facilitates as a social science lab. The index page background image mimics triangulation of data combined with neural synapses and connetedness.<br><br>
							<i>Dreamweaver, Illustrator</i>
							</div>
						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/xlab website.png" alt="">
							<div class="gallery-item-alt">
							This will be replaced by researcher poster
							</div>
						</a>
					</li>
					<li>
						<a class="video">
							<div class="hover-overlay">
								<div class="hover-text">Video</div>
							</div>
							<img src="assets/img/Xlab video.png" alt="Index page for the Xlab website.">
							<div class="video-content">
								<iframe src="https://player.vimeo.com/video/230690541" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
							<div class="gallery-item-alt">
							Recruitment video for Xlab participants. This video outlines what it is to participate at Xlab with simple, 2D animation.<br><br>
							<i>AfterEffects, Illustrator</i>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="gallery">
			<h2>Personal Projects</h2>
			<div class="gallery-grid">
				<ul>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/Personal/ttu.png" alt="">
							<div class="gallery-item-alt">
							Bar menu for a tiki-themed party.<br><br>
							<i>InDesign</i>
							</div>
						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Social Media</div>
							</div>
							<img src="assets/img/Personal/freeze.png" alt="">
							<div class="gallery-item-alt">
							Graphic for Heathers Musical corresponding to the song Freeze Your Brain.<br><br>
							<i>Illustrator</i>
							</div>
						</a>
					</li>
					<li>
						<a class="image">
							<div class="hover-overlay">
								<div class="hover-text">Print</div>
							</div>
							<img src="assets/img/Personal/Muller Family Tree Final.jpg" alt="">
							<div class="gallery-item-alt">
							Family tree for Adam Muller's 90th birthday. Style is inspired by traditional Polish folk art.<br><br>
							<i>Photoshop, Illustrator, InDesign</i>
							</div>
						</a>
					</li>
					<!-- <li><img src="assets/img/Personal/.png"></li> -->
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div id="contact-container" id="menu-contact">
		<div class="contact">
			<div id="profile"> <img id="profile-pic" src="assets/img/itme.jpg"></div>
			<div id="contact-info">
				<h2>Delanie Lowe</h2>
				<h3>delanielowe@berkeley.edu</h3>
				<h4>Cognitive Science, BA
				<br>University of California, Berkeley</h4>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	
</body>
</html>